.topbar-container{
    width: 100%;
    background-color: var(--primary-bg-color);
    color: var(--font-light-op);
    height: 60px;
    padding: 20px;
}



#left-menu img{
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    object-fit: contain;
    transition: opacity 0.2s;
}
#left-menu img:hover{
    cursor: pointer;
    background-color: rgba(0,0,0,0.1);
}

#left-menu span{
    font-size: 15pt;
    margin-left: 10px;
}

#info-menu{
    display: flex;
    padding: 10px;
    width: 20px;
    height: 20px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: var(--font-light);
    cursor: pointer;
    color: var(--primary-bg-color);
    transition: opacity 0.2s;
}

#info-menu:hover{
    opacity: 0.8;
}


#right-menu{
    display: flex;
    justify-content: flex-end;
}