.content-container{
    width: 100%;
    padding: 2em;
}
.content-container h3{
    font-weight: 500;
    font-size: 1.5em;
}
.content-container p{
    opacity: 0.5;
    font-size: 13pt;
    padding-top: 20px;
    text-align: justify;
}